<!-- main / welcome section -->
<section id="home"
  class="cover-container d-flex h-100 p-3 mx-auto flex-column align-items-center justify-content-center">
  <main class="px-3 overlay">
    <h1>Welcome！</h1>
    <p class="lead">Expert in Unraveling User Stories Behind the Words!</p>
    <p class="lead">
      <a href="#features" class="btn btn-lg btn-secondary">See the criterion</a>
      <a href="#programs" class="btn btn-lg btn-secondary">Explore Program</a>
    </p>
  </main>
</section>

<!-- features section -->
<section id="features" class="features bg-warning-subtle py-5">
  <div class="container py-5">
    <h2 class="text-center mb-4">Explain user story evaluation criteria</h2>
    <p class="text-center text-muted pb-4">Based INVRST principal</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card border-0 pb-5 h-100 d-flex flex-column card-hover">
          <img src="/assets/img/main-1.png" class="card-img-top rounded-top-3" alt="Image 1">
          <div class="card-body my-3">
            <h5 class="card-title fw-bold text-center py-3 card-link">user story structure</h5>
            <p class="card-text text-center">
              A user story is a commonly used method for describing specific aspects of system functionality in agile software development. 
            </p>
          </div>
          
        </div>
      </div>
      <div class="col">
        <div class="card border-0 pb-5 card-hover h-100 d-flex flex-column">
          <img src="/assets/img/main-2.png" class="card-img-top rounded-top-3" alt="Image 2">
          <div class="card-body my-3">
            <h5 class="card-title fw-bold text-center py-3 card-link">Goal</h5>
            <p class="card-text text-center">
              Describes the goal or purpose of the user story. It outlines the specific objective that the user aims to achieve, often related to a particular aspect of the system or feature.
            </p>
          </div>
          
        </div>
      </div>
      <div class="col">
        <div class="card border-0 pb-5 card-hover h-100 d-flex flex-column">
          <img src="/assets/img/main-3.png" class="card-img-top rounded-top-3" alt="Image 3">
          <div class="card-body my-3">
            <h5 class="card-title fw-bold text-center py-3 card-link">Acceptance Criteria</h5>
            <p class="card-text text-center">
              Clearly specifies the criteria for considering the user story completed. These are conditions used to verify that the user story has been successfully implemented, often presented in the form of specific test conditions or behaviors.
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- programs section -->
<section id="programs" class="programs bg-success-subtle">
  <div class="container marketing py-5">
    <h2 class="text-center mb-4">Engage in programs</h2>
    <p class="text-center text-muted pb-3">Explore Our LLM</p>

    <!-- <hr class="featurette-divider"> -->

    <div id="bees4life" class="row featurette py-3 mt-4">
      <div class="col-md-6">
        <h2 class="featurette-heading fw-normal lh-1">
          <span class="program-link">LLM Program.</span>
          <span class="text-body-secondary">
            It’ll blow your mind.</span>
        </h2>
        <p class="lead">Using Big Language Modeling to Help Understand Analyzing User Stories</p>
      </div>
      <div class="col-md-5 offset-md-1">
        <img src="/assets/img/prog-1.png" alt="Program 2" class="featurette-image img-fluid">
      </div>
    </div>

    <hr class="featurette-divider">
    <div id="pollination" class="row featurette py-3">
      <div class="col-md-6 order-md-2 offset-md-1">
        <h2 class="featurette-heading fw-normal lh-1">
          <span class="program-link">Gherkin text</span>
          <span class="text-body-secondary">
            See for yourself.</span>
        </h2>
        <p class="lead">Gherkin is a domain-specific language used in behavior-driven development (BDD) to describe the behavior of software without detailing how that behavior is implemented. Gherkin is designed to be easily readable by both technical and non-technical stakeholders, making it a powerful tool for collaboration among team members. </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/assets/img/prog-2.png" alt="Program 2" class="featurette-image img-fluid">
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <a href="#allprograms" class="btn btn-primary btn-lg">Explore Programs</a>
      </div>
    </div>

  </div>
</section>


<!-- team member -->
<section id="reviews" class="reviews bg-black text-light bg-opacity-75 py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto mt-3 text-center">
        <h2 class="reviews-heading">Team member</h2>
        <p class="reviews-subheading">ESILV</p>
      </div>
    </div>
    <div class="row justify-content-around my-auto">
      <div class="col-md-10 p-4">
        <div id="reviewCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="review-item text-center w-50 mx-auto">
                <h4 class="review-title">Hello：</h4>
                <p class="review-text">
                  <span class="text-center">&quot;</span><br>
                  I hope this message finds you well and enjoying the seamless experience. As the developer behind this project, I want to convey my heartfelt appreciation for your trust and support.
                  <br><span class="text-center">&quot;</span>
                </p>
                <div class="review-author">
                  <img src="/assets/img/logo.png" alt="Profile 1" width="40" height="40"
                    class="rounded-circle review-photo">
                  <div class="author-details">
                    <h5 class="author-name">Wenbo SUI</h5>
                    <p class="from">China，artificial intelligence (AI)</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="review-item text-center w-50 mx-auto">
                <h4 class="review-title">Hi</h4>
                <p class="review-text">
                  <span class="text-center">&quot;</span><br>
                  I wanted to take a moment to express my deepest gratitude for choosing . Your trust and support mean the world to me. It has been an incredible journey developing this software, and knowing that it serves a purpose in your life brings immense joy to the entire team.
                  <br><span class="text-center">&quot;</span>
                </p>
                <div class="review-author">
                  <img src="/assets/img/logo.png" alt="Profile 2" width="40" height="40"
                    class="rounded-circle review-photo">
                  <div class="author-details">
                    <h5 class="author-name">Limin TIAN</h5>
                    <p class="from">China，Student, artificial intelligence (AI)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev justify-content-start" type="button" data-bs-target="#reviewCarousel"
            data-bs-slide="prev" aria-label="Previous">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next justify-content-end" type="button" data-bs-target="#reviewCarousel"
            data-bs-slide="next" aria-label="Next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer -->
<software-footer></software-footer>